.idea/
.vscode/

**/.DS_Store
**/coverage/
**/dist/
**/node_modules/
**/.terraform/
**/*.tfstate*

**/config/local.*
**/*.log

results/
cypress/videos/
cypress/screenshots/

cypress.env.json
.env*
!/.env.sample
